/* Start aside styling */
.side_list {
	background-color: #f1e8cf;
	border: 2px solid saddlebrown;
	border-radius: 6px;
	padding: 2em 2em;
	margin: 0 2%;
	width: 300px;
	position: fixed;
	box-shadow: 0 10px 6px -6px #777;
}

.side_list ol {
	margin: 1em;
}

.side_list ol > * + * {
	margin-top: 0.5em;
}

.see_all_link {
	text-decoration: none;
	color: black;
}

.see_all_link:hover {
	color: gray;
}

/* Start main section of articles styling */
.main_article {
	background-color: #f1e8cf;
	border: 2px solid saddlebrown;
	border-radius: 6px;
	padding: 2em 2em;
	margin: 5em auto;
	text-align: left;
	width: 760px;
	box-shadow: 0 10px 6px -6px #777;
}

.article_title {
	margin-bottom: 0.25em;
}

.article_title a {
	text-decoration: none;
	color: black;
}

.article_title a:hover {
	color: gray;
}

.author {
	margin-bottom: 1em;
}

.author a {
	text-decoration: none;
	color: black;
}

.author a:hover {
	color: gray;
}

.article_preview {
	margin-bottom: 1em;
}

.article_image {
	width: 700px;
	border-radius: 4px;
}

.attribution {
	font-size: 0.75em;
	color: rgb(65, 65, 65);
}
